* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    box-sizing: border-box;
    background-color: dodgerblue;
}

.icon {
    display: flex;
    height: 105px;
    width: 0 auto;
    padding-bottom: 35px;
}

img {
    height: 75px;
    width: 356px;
    margin-top: 35px;
    Margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
}

.big-box {
    /*    display: block;*/
    width: 400px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 2.5em;
    color: gray;
    font-weight: lighter;
}

ul,
h3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    line-height: 3em;
}


/*font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;*/